/*
 * MAIN - This should be replicated for each page
 */
/*
 * GLOBAL
 */
/* VARIABLES */
/* PUGPIG BOILERPLATE */
/*
 * MIXINS
 */
/*
 * PLACEHOLDERS
 */
.is-loading * {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

h1,
h2,
h3,
h4,
h5,
p,
ul,
dl,
dt,
dd {
  margin: 0;
  padding: 0; }

/*
 * FUNCTIONS
 */
/*
 * RESET
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

* {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

a {
  -webkit-touch-callout: none; }

ul,
ol {
  list-style: none; }

img {
  width: 100%;
  height: auto;
  display: block; }

i {
  font-style: normal; }

/* PROJECT SPECIFIC */
/*
 * BASE
 *
 * Base styles that do not belong to any component or are not for layout
 */
.is-invisible {
  opacity: 0 !important; }

.is-hidden {
  display: none !important; }

.is-loading * {
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  -webkit-transition: none !important;
  transition: none !important; }

/*
 * COMPONENTS
 * Import all component Sass partials here e.g
 */
/*
 * GRID
 */
.grid {
  width: 750px;
  margin: 0 auto; }

.grid__cell {
  width: 15px;
  height: 15px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  background: rgba(255, 127, 80, 0.3);
  float: left; }

.player {
  background: green;
  height: inherit; }

.loot {
  background: blue;
  height: inherit; }

/*
 * FURNITURE
 */
